@model TodoCase.Core.ViewModel.Insert.PersonelUpdateModel
@{
    ViewData["Title"] = "Update";
    var adList = Model.PersonAdresses.Select(i => new SelectListItem() { Text = i.Name, Value = i.Id.ToString() });

}

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<script>

    $(function () {
        $('#DrpAddList').change(function () {

            var id = $('#DrpAddList').val();
            $.ajax({
                url: '/Person/GetAddressValuesByAddressId/',
                data: { id: id },
                type: "POST",
                dataType: "Json",
                success: function (data) {
                    console.log(data);

                    $('#txtName').append(data.name);
                }
            })
        });

    }
</script>

<form method="post" enctype="multipart/form-data">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.Person.Id != 0)
        {

            <input type="hidden" asp-for="Person.Id" />
        }

        <div class="col-12 border-bottom">
            <h2 class="text-primary">Güncelle</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    Başlık
                </div>
                <div class="col-8">
                    <input asp-for="Person.Name" class="form-control" />
                    <span asp-validation-for="Person.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    Adet
                </div>
                <div class="col-8">
                    <input asp-for="Person.LastName" class="form-control" />
                    <span asp-validation-for="Person.LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    Açıklama
                </div>
                <div class="col-8">
                    <textarea asp-for="Person.BirthDate" class="form-control"> </textarea>
                    <span asp-validation-for="Person.BirthDate" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    Adres:
                    @Html.DropDownList("DrpAddList", adList, "-- Adres Seçiniz --", new { @class = "form-control" })
                </div>
                <div class="col-8">
                    @{
                        for (int i = 0; i < Model.PersonAdresses.Count; i++)
                        {

                            <div class="col-8">
                                <textarea asp-for="PersonAdresses[i].Name" class="form-control"> </textarea>
                                <span asp-validation-for="PersonAdresses[i].Name" class="text-danger" id="txtName"></span>
                            </div>
                            <div class="col-8">
                                <textarea asp-for="PersonAdresses[i].Address" class="form-control"> </textarea>
                                <span asp-validation-for="PersonAdresses[i].Address" class="text-danger" id="txtAddress"></span>
                            </div>
                            <div class="col-8">
                                <textarea asp-for="PersonAdresses[i].AdressType" class="form-control"> </textarea>
                                <span asp-validation-for="PersonAdresses[i].AdressType" class="text-danger" id="txtAddressType"></span>
                            </div>

                        }

                    }
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    <div class="row">
                        <div class="col-md-6">
                            <button onclick="return validateInput()" type="submit" class="btn btn-primary"> Güncelle</button>
                        </div>
                        <div class="col-md-6">
                            <a asp-action="Index" class="btn btn-success"> Kayıt Listesi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>